body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    padding-top: 24px;
    padding-bottom: 24px;

}
.mitte{
    display: flex;
    justify-content: center;
    align-items: center;
}

#teaser{
width: 100%;
height: 300px;
}
#teaser img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (min-width: 800px){
    #teaser{
        height: 600px;
    }
}
nav{
    position: sticky;
    top: 0px;
    font-weight: 500;

    /* Das ist dafür, dass die Navigation jederzeit anklickbar ist */
    z-index: 99;
} 
footer ul,nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}
footer ul li a,nav ul li a{
    font-weight: bold;
    padding: 16px;
}

section{
max-width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 16px;
padding-right: 16px;
}